<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>Title</title>
</head>
<body>
<div class="header-contents">
    <h1>コメント編集</h1>
</div>
<div th:if="${errorMessages != null}">
    <p th:text="${errorMessages}"></p>
</div>
<div class="main-contents">
    <div class="message-icon" th:each="formModel : ${formModel}">

        <div class="text">
            <form method="post" th:action="@{/updateComment/{id}(id=${formModel.id})}">
                <textarea th:field="*{formModel.comment}"></textarea>
                <input type="hidden" name="reportId" th:value="${formModel.reportId}">
                <input type="submit" value="編集する" />
            </form>
        </div>
    </div>
</div>
</body>
</html>